__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/

tmp_*
data?
data??
scripts2

model_cache

logs*
videos*
images*
*.mp4

wandb/
point_e_model_cache/
shap_e_model_cache/

.threestudio_cache/
outputs/
outputs-gradio/

# pretrained model weights
*.ckpt
*.pt
*.pth

# wandb
wandb/

# vscode
.code-workspace

# custom/*
/custom/*
!/custom/threestudio-3dgs/

# output
sugar/workspace/

load/tets/256_tets.npz